#loadedDataWidget {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 5px;
}

QListWidget {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 5px;
    background-color: #f9f9f9;
}

QListWidget::item {
    height: 10px;
    padding: 5px;
}

QListWidget::item:selected {
    background-color: #d0d0d0;
    color: black;
}
